---
title: API Packages
layout: api-layout.njk
permalink: "/api/"
---

<h1 class="text-3xl font-bold mb-8">API Packages</h1>
<ul class="space-y-4">
  {% for pkg in apiPackages.packages %}
    <li>
      <a href="/api/{{ pkg | slug }}/" class="text-lg text-indigo-700 hover:underline font-semibold">
        {{ pkg }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="mt-10">
  <a href="/api/scalars/" class="text-blue-700 hover:underline">View Scalar Types Reference</a>
</div>
